<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remainingCount"> <%= todos.completed.count %> / <%= todos.count %></p>
  </div>
  <ul>
  <% todos.map  do |todo| %>
      <li class="TodoItem">
            <% if section_title == "Overdue" %>
                    <% if todo.completed %>
                    <% else %>
                        <label class="TodoItem-container">
                        <input class="TodoItem-checkbox" type="checkbox"  >
                        <span class="TodoItem-todoText" >
                              <%= todo.todo_text %>
                        </span>
                        <p class="TodoItem-dueDate">
                                <%= todo.due_date.to_s(:short) %>
                        </p>
                        <button class="TodoItem-delete"><i class="fa fa-trash-o"></i></button>
                      <% end %>

            <% else %>
                  <% if todo.due_date <= (Date.today + 7) %>
                    <label class="TodoItem-container">
                    <% if todo.completed  %>
                        <input class="TodoItem-checkbox" type="checkbox"  checked  >
                        <span class="TodoItem-todoText" style="text-decoration: line-through">
                              <%= todo.todo_text %>
                        </span>

                    <% else %>
                        <input class="TodoItem-checkbox" type="checkbox" >
                        <span class="TodoItem-todoText"><%= todo.todo_text %></span>
                    <% if  show_due_date  %>
                        <p class="TodoItem-dueDate"> <%= todo.due_date.to_s(:short) %> </p>
                    <% end %>

                    <% end%>
                        <button class="TodoItem-delete"><i class="fa fa-trash-o"></i></button>
                <% end %>
            <%end%>

      </li>
  <% end %>
    </ul>
  </section>
