<main class="TodoPageMain">
  <article>
    <h1 class="TodoPage-title"><%= @current_user.first_name %>'s Todo-list</h1>
      <%= form_with(url: "/todos", method: "post", class: "AddTodo" ) do %>
        <%= text_field_tag("todo_text", '',
                                                  placeholder: "What's Next?",
                                                  class: "AddTodo-text",
                                                  autofocus: true
                                                  )
        %>
      <%= date_field_tag("due_date", '', class:"AddTodo-date", value: Date.today) %>
      <%= button_tag("Add", type: "submit", class:"AddTodo-button") %>
      <% end %>

          <%=render partial: "todos-section",  locals:  {
                    section_title:  "Overdue",
                    todos: @todos.overdue,
                    show_due_date: true
                    }
          %>

          <%= render partial: "todos-section",  locals:  {
                      section_title:  "Due Today",
                      todos: @todos.due_today,
                      show_due_date: false,
                    }
          %>

          <%= render partial: "todos-section",  locals:  {
                      section_title:  "Due Later",
                      todos: @todos.due_later,
                      show_due_date: true,
          }
          %>

  </article>
</main>
