<!DOCTYPE html>
<html>
  <head>
    <title>My Todo Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="UserHeader">
            <%= link_to "The Todo Manager", "/", method:"get", class:"UserHeader-title"%>

    <% if @current_user %>
        <div class="UserInfo">
            <p class="UserFirst-name"> <%= @current_user.first_name %> </p>
            <p><%= link_to "Sign-out", destroy_session_path, method: "delete" , class:"Sign-out" %> </p>
        </div>
    <% end %>

</section>
  <hr class="Navbar">
    <% if flash[:error] %>
      <p class="Flash-error" >
          <%= flash[:error] %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
